html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: .75rem;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

h2 {
  font-weight: bold;
  margin: 0;
  font-size: 1rem;
}

h3 {
  font-style: italic;
  font-weight: normal;
  margin: 0;
  font-size: .875rem;
}

main {
  padding: 1rem;
  overflow: hidden;
}

p {
  margin-top: 0;
}

.btn {
  display: inline-block;
  border-style: solid;
  color: #f2f2f2;
  background-color: #333;
  border-color: #333;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
}

.btn:hover {
  background-color: black;
  border-color: black;
}

.btn-small {
  display: inline-block;
  border-style: solid;
  color: #f2f2f2;
  background-color: #333;
  border-color: #333;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
}

.btn-small:hover {
  background-color: black;
  border-color: black;
}

img {
  display: block;
  width: 100px;
  margin: 0 auto 1.5rem;
}

div {
  border-style: solid;
  border-left: black;
  border-bottom: none;
  border-top: none;
  float: left;
  width: 25%;
  padding: .75rem;
  min-height: 25em;
}

.quest {
  background-color: #e2e2e2;
  border-style: solid;
  border-bottom: none;
  border-top: none;
  float: left;
  width: 25%;
  padding: .75rem;
  min-height: 25em;
}

.dino {
  background-color: #ccc;
}

.black {
  background-color: #aaa;
}

.light {
  background-color: #999;
  border-right: none;
}
